<head>
  <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
</head>
<div class="nav">
  <span style="color: #D07720">szymon</span><span style="color:#4A748B">k</span>aminski.com
  <button class="tripple">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div style="text-align:center;">
  <h1 class="welcome-title">
    Howdy, my name is Szymon!
    <div class="title-desc">
      I'm an aspiring java developer.
    </div>
  </h1>
  <img width="500" alt="Me" src="https://files.slack.com/files-pri/TJ1DNHXN3-FKULZDW0Y/ja.png">
</div>

<div id="about">
  <div class="about-content">
    <h2>
      My technologies:
    </h2>
    <ul style="list-style-type:square;  font-size: 0.9em">
      <li>JAVA</li>
      <li>JDBC</li>
      <li>Hibernate</li>
      <li>Spring boot</li>
      <li>MySQL</li>
      <li>Tomcat</li>
      <li>Git</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Java Script</li>
      <li>Type Script</li>
      <li>Angular 7</li>
      <li>Postman</li>
    </ul>
  </div>
  <div class="about-content">
    <img class="about-img" alt="Me" src="https://files.slack.com/files-pri/TJ1DNHXN3-FKX0Q43T8/ja2.png">
  </div>
</div>

<div id="github">
  <h1 class="github-title">
    Please, check my github ->
  </h1>
  <div class="github">
    <h1>
      <a href="https://github.com/SzKaminski"> GITHUB</a>
    </h1>
  </div>
</div>



<router-outlet></router-outlet>