#commentBase{
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  width: 1000px;
  margin: 0 auto 20px;
}
.comment-author{
  width:50%;
  display: inline-block;
}

.comment-content{
  display: inline-block;
  text-align: start;
  width:50%;
  clear: both;
}
#commentBox{
  clear:both;
  padding-top: 30px;
  display: block;
  text-align: center;
  width: 100%;
}
